<extend name="Base/common" />
<block name="body">
<?php 

$mp_token = M('public')->where(array('id'=>I('public_id')))->getField('interface_token');

?>
  <div class="span9 page_message">
    <include file="Addons/_nav" /> 
    <section id="contents" class="tab-content">
        
        <div class="content">
        <div class="highlight_box">
        <p class="desc">
        以下是你的公众号的配置信息<br>
          你的接口URL是：<span style="color: #FF0000">{:U('home/weixin/index',array('id'=>$_GET['public_id']))}</span><br>
          Token固定是：<span style="color: #F00">{$mp_token}</span></p>
        </div>
      </div>

    </section>
  </div>
</block>
<block name="script"> 
  <script type="text/javascript">
$(function(){
    //ajax 提交启用
    $('.use_btn').click(function(){
        var href = $(this).attr('href');
        var _this =$(this);
        if(href.indexOf("1.html")!=-1){
            //禁用
            $.get(href,function(){
                updateAlert("更新成功!","alert-success");
                _this.attr('href',href.replace("1.html","0.html"));
                _this.text("启用");
                _this.parents('tr').attr('style','color:#ccc');
                _this.parents('tr').find('.use_status').text("已禁用");;
            });
        }else{
                //启用
                $.get(href,function(){
                    updateAlert("更新成功!","alert-success");
                    _this.attr('href',href.replace("0.html","1.html"));
                    _this.text("禁用");
                    _this.parents('tr').removeAttr('style');
                    _this.parents('tr').find('.use_status').text("已启用");
                });
                }
        setTimeout(function(){
            $('#top-alert').find('.close').click();
            },3000);        
        return false;
        
        });

})
</script> 
</block>
